.create-recipe-container {
    max-width: 900px;
}

.recipe-name{
    width: 70%;
}

.image-input{
    border-style: dotted;
    border-radius: 5px;
    border-color: rgb(204, 204, 204);
}

.submit-button {
    margin: 10px;
}