.recipe-name{
    width: 70%;
}

.image-input{
    border-style: dotted;
    border-radius: 5px;
    border-color: rgb(204, 204, 204);
}

.trash{
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0;
}

.create-recipe-container{
    padding-top: 10rem;
}

.form-group {
    width:fit-content;
}