.card {
    height: 100%;
}

.card-body{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }

.heartBtn,.heartBtn:hover,.heartBtn:active{
    background-color: transparent;
    border-color: transparent;
}
