.recipe-name{
    width: 70%;
}

.image-input{
    border-style: dotted;
    border-radius: 5px;
    border-color: rgb(204, 204, 204);
}

.trash{
    transform: scale(0.5);
}

.create-recipe-container{
    padding-top: 10rem;
}