@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.ingredients{
    padding-top: 3rem;
    animation: slideIn 1s ease-out;
}

.ingredients-title{
    padding-top: 3rem;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}

.card-img-top{
        height: 11vw;
        object-fit: cover;
}

.ingredients-list{
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    text-align: left;
    line-height: 2.5em; 
}

.ingredients-container{
    text-align: center;
    font-family: 'Lexend', sans-serif;
    padding: 0px;
}

.ingredients-container{
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
}

.card {
  height: 100%;
}

.view-ingredients-button {
  position: absolute;
  bottom: 16px;
  width: 100%; /* Ensure the button takes the full width */
  text-align: center; /* Center the button horizontally */
}