.card {
    height: 100%;
}

.card-body {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.heartBtn,
.heartBtn:hover,
.heartBtn:active {
    background-color: transparent;
    border-color: transparent;
}

.recipeCardImage {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.two-line-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;  
    -webkit-box-orient: vertical;
    height: 2.5em; 
  }
